extends layout

mixin product(id, title, description, value, image)
    div(id="pasek")
        td 
            a(href="/products/details/"+id)=id
        td 
            img(src=image  style='width:150px; height:200px; object-fit:contain;')
        td=title
        td=value
            = 'zł'
        if session.admin
            td
                a(href="/products/remove/"+id role="button") Usuń 
            td
                a(href="/products/edit/"+id role="button") Edytuj 
        if session.valid
            td
                a(href="/cart/add/"+id role="button") Dodaj do koszyka 
        
        br

block content
    p Welcome to #{title}
    if session.admin
        a(href="/products/add/" role="button") Dodaj
    table
        tr
            th Id
            th Zdjęcie
            th Tytuł
            th Cena
            if session.admin
                th Usuń
                th Edytuj
            if session.valid
                th Dodaj do koszyka
            
        each product in products
            tr
                +product(product.Id, product.title, product.description, product.value, product.image)
